# CAPITAL INDEX 2026 environment template

GCP_PROJECT_ID=capital-index-2026
GCP_REGION=europe-west1

PUBSUB_DRIVE_TEST_TOPIC=capital-events-drive-test
PUBSUB_DRIVE_TEST_SUBSCRIPTION=capital-events-drive-test-sub

FIRESTORE_DATABASE=(default)
BIGQUERY_DATASET=capital_index

VAULT_ROOT_FOLDER_ID=1No6LMuCpH2T2jmGL7hnFlMto-0gnnHpq

# Do not put real secrets here.
